<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated blocknet -->
      <package
            uri="http://eclipse.org/epsilon/netlist/blocknet"
            class="org.eclipse.epsilon.netlist.model.blocknet.BlocknetPackage"
            genModel="model/blocknet.genmodel"/>
   </extension>

</plugin>
